@font-face {
    font-family: icomoon;
    src: url(https://www.nextrembrandt.com/static/fonts/icomoon.eot?rquxml);
    src: url(https://www.nextrembrandt.com/static/fonts/icomoon.eot?rquxml#iefix) format("embedded-opentype"),url(https://www.nextrembrandt.com/static/fonts/icomoon.ttf?rquxml) format("truetype"),url(https://www.nextrembrandt.com/static/fonts/icomoon.woff?rquxml) format("woff"),url(https://www.nextrembrandt.com/static/fonts/icomoon.svg?rquxml#icomoon) format("svg");
    font-weight: 400;
    font-style: normal
}
